

<div class="wrapper col-md-9 offset-md-2">
  <div class="waiting_booking mt-3">
    <h2 class="waiting_title mt-3">Pending Bookings</h2>
    <% if current_user.bookings.empty? %>
    <p>You don't have any upcoming tours. <%= link_to "Start exploring!", tours_path, class: 'btn btn-info' %></p>
    <% else %>
    <ul class='list-group booking_list unconfirmed-bookings'>
      <% current_user.bookings.where(confirmed: nil).each_with_index do |booking, index| %>
      <li class="mb-4 border-bottom pb-3">
        <h3 class="waiting pb-2"><%= index + 1 %> <span style="font-size: 18px;"><i class="fas fa-plane"></i></span> <%= booking.tour.name%></h3>
        <div>
          <strong>Date: </strong><%= booking.nice_date %> | <strong>People:</strong> <%= booking.headcount %> | <strong>Price: ￥</strong> <%= booking.tour.cost %> | <strong>Total: ￥</strong> <%= booking.tour.cost * booking.headcount %>&nbsp;&nbsp;&nbsp;<%= link_to raw('<i class="fas fa-trash-alt"></i>'),  booking_path(booking), method: "delete", class: "text-dark", data: { confirm: "Are you sure you want to cancel your request for '#{booking.tour.name}'?" }%> <br>
        </div>
        <div class="content_booking d-flex mt-3">
          <%= cl_image_tag booking.tour.photo %>
          <p class='ml-3'><%= booking.tour.details%></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>


  <!-- This is a list of a user's confirmed/upcoming tours -->
  <div class="confirmed_booking mt-3">
    <h2 class="confirmed_title">Confirmed Bookings</h2>
    <% if current_user.bookings.where(confirmed: true).any? %>
    <ul class='list-group confirmed_list confirmed-bookings'>
      <% current_user.bookings.where(confirmed: true).each_with_index do |booking, index| %>
        <li class="mb-4 border-bottom pb-3">
          <h3 class="confirmed pb-2"><%= index + 1 %> <span style="font-size: 18px;"><i class="fas fa-plane-departure"></i></span> <%= booking.tour.name%></h3>
          <div>
             <strong>Date: </strong><%= booking.nice_date %> | <strong>People:</strong> <%= booking.headcount %> | <strong>Price: ￥</strong> <%= booking.tour.cost %> | <strong>Total: ￥</strong> <%= booking.tour.cost * booking.headcount %>&nbsp;&nbsp;&nbsp;<%= link_to raw('<i class="fas fa-trash-alt"></i>'),  booking_path(booking), method: "delete", class: "text-dark", data: { confirm: "Are you sure you want to cancel your request for '#{booking.tour.name}'?" }%> <br>
          </div>
          <div class="content_confirmed d-flex mt-3">
            <%= cl_image_tag booking.tour.photo%>
            <p class='ml-3'><%= booking.tour.details%></p>
          </div>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>Please wait for a tour provider to approve your requests. 📨 </p>
    <% end %>
  <% end %>
  </div>
</div>

