<div class="banner" style="background-image: url('https://source.unsplash.com/random');">
</div>

<div class="container d-flex my-5">
  <div class="tour-description">
    <h3> <%= JSON.parse(@tour.name).join(" ") %> </h3>
    <h6>category</h6>
    <h3> ¥ <%= @tour.cost %></h3>
    <p>
      <%= @tour.details %>
    </p>
    <div class="tour-photo d-flex justify-content-between">
      <img src="https://source.unsplash.com/random" alt="">
      <img src="https://source.unsplash.com/random" alt="">
      <img src="https://source.unsplash.com/random" alt="">
    </div>
  </div>

  <div class="request d-flex align-item-center justify-content-around flex-column ml-5">
    <div class="form p-5">
      <%= simple_form_for [@tour, @booking] do |f| %>
        <%= f.input :headcount %>
        <%= f.date_field :date %>
        <h6>Total</h6>
        <h4> ￥<%= @tour.cost %> </h4>
        <%= f.submit 'request', class: "btn-info rounded px-5 py-1 mt-3" %>
      <% end %>
    </div>
  </div>
</div>
