<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <%= link_to raw('<i class="fab fa-ravelry"></i>'), tours_path, class: "logo"%>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pl-3">
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %><li>
           <% if user_signed_in? %>
            <li>
              <%= link_to "Your tours", bookings_path, class: 'btn btn-info text-dark' %>
            </li>
           <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <% if current_user %>
            <% var = current_user %>
            <% if var.tours.any? %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage tours
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Your tours</a>
                  <a class="dropdown-item" href="#">Booking requests</a>
                </div>
              </div>
            <% end %>
          <% end %>
          <input id="nav-search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <% if policy(Tour).create? %>
            <%= link_to "Add Tour", new_tour_path, class: "btn btn-info ml-2" %>
          <% end %>
        </form>
      </div>
      <%= render 'shared/flashes' %>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
